<div class="modal-header">
  <h3>Add group</h3>
</div>
<div class="modal-body">
  <div>
    <h4>Group name:</h4>
    <form ng-submit="addGroup()">
      <input type="text" ng-model="groupName" placeholder="group name"/>
    </form>
  </div>

  <div class="col-lg-4">
    <h3>Groups ({{ groups.length }})</h3>
    <ul>
      <li ng-repeat="group in groups">
        {{ group }}

        <a ng-click="deleteGroup(group)">delete</a>

      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">

  <button class="btn btn-warning" type="button"
          ng-click="close()">Cancel</button>
</div>