/*
|------------------------------------------------------------
| General variables
|------------------------------------------------------------
*/


// COLORS

$burlap:     		#b9a37a !default;
$champagne: 	   	#F7E7CE !default;
$mahagony:          #432721 !default;
$purple: 			#663352 !default;
$darkPurple: 		#51283e !default;
$whitish:           #f9f9f9 !default;
$ltblue:            #5bc0de !default;
$dblue:             #428bca !default;
$b-red:             #d9534f	!default;
$b-green:           #5cb85c !default;

